html,body,div{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Microsoft YaHei";
}
#add_content{
	width: 825px;
	margin: 0 auto;
}
#add_nav{
	width: 823px;
	height: 33px;
	font-size: 20px;
	background-color: white;
	margin-bottom: 50px;
	position: relative;
}
#add_table{

}
#add_table table{
	border: 2px solid black;
	width: 825px;
}
#add_table table tr{
	background-color: rgba(255, 255, 255, 0.73);
}
#add_table table tr:first-of-type{
	background-color: #93BD95;
}
#add_table table tr:last-of-type{
	text-align: center;
}
#remark{
	width: 500px;
	height: 150px;
}