html,body,div{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Microsoft YaHei";
}
#content{
	width: 825px;
	margin: 0 auto;
}
#usr_nav{
	width: 823px;
	height: 33px;
	font-size: 20px;
	background-color: white;
	margin-bottom: 50px;
	position: relative;

}
#usr_manager_table table{
	border: 2px solid black;
	width: 825px;
}
#usr_manager_table table tr{
	background-color: rgba(255, 255, 255, 0.73);
}
#usr_manager_table table tr td:first-of-type{
	text-align: right;
}
#usr_manager_table table tr:first-of-type{
	background-color: #93BD95;
}
#usr_manager_table table tr:last-of-type td{
	text-align: center;
}

